@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('./assets/fonts/HelveticaNeueThin.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url('./assets/fonts/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('./assets/fonts/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueHeavy';
  src: url('./assets/fonts/HelveticaNeueHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('./assets/fonts/HelveticaNeueBold.otf') format('opentype');
}

.helvetica-thin {
  font-family: 'HelveticaNeueThin', sans-serif;
}

.helvetica-roman {
  font-family: 'HelveticaNeueRoman', sans-serif;
}

.helvetica-light {
  font-family: 'HelveticaNeueLight', sans-serif;
}

.helvetica-heavy {
  font-family: 'HelveticaNeueHeavy', sans-serif;
}

.helvetica-medium {
  font-family: 'HelveticaNeueMedium', sans-serif;
}

.helvetica-bold {
  font-family: 'HelveticaNeueBold', sans-serif;
}